 <!-- VANTA BACKGROUND -->
  <div id="vanta-bg"></div>

  <!-- MAIN CONTENT START -->
  <div class="content-overlay">

    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo"><a href="/" style="text-decoration: none;">Blognest</a></div>
      <ul class="nav-links">
        <li><a href="/allposts">All Posts</a></li>
        <li><a href="/create">Create Post</a></li>
        <li><a href="/posts">Your Posts</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

